* {
  margin: 0;
  padding: 0;
 
}

body {
  font-weight: 400;
  overflow-x: hidden !important;
  position: relative;
 
  background-color:#121212 !important;
  font-family: 'Centra', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}


